* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

/* Mobile */

h1 {
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    position: relative;
    overflow: visible;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #8C3A48;
}

.nav-desktop {
    display: none;
}


/* Dropdown menu */



.menu-links {
    display: flex;
    position: absolute;
    background-color: #252525;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease;
}

.menu-links-active {
    transform: translateX(0%);
}

.active-site {
    border-bottom: #8C3A48 solid 4px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.links a {
    margin-top: 120px;
    font-size: 24px;
}

.cross {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 30px;
}

#burger {
    width: 25px;
    height: 25px;
    margin: 30px 0 30px 30px;
}

#search {
    width: 25px;
    height: 25px;
    margin: 30px 30px 30px 0;
}

header {
    z-index: 2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0 30px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #8C3A48;
    padding: 30px;
}

footer p {
    font-size: 12px;
}

.social-links {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.social-links a {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.social-links img {
    margin-right: 10px;
    width: 18px;
}

.h1-mobile-index {
    color: white;
    margin: 60px 0 20px 0;
}

.index-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    margin-bottom: 30px;
}

.index-welcome p {
    margin: 10px 0;
}

/* slider */

.carousel-bg {
    background-color: #8C3A48;
}

.container {
    display: flex;
    background-color: #8C3A48;
    overflow: hidden;
    width: 300px;
    height: 260px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    width: 100%;
}

.card {
    display: flex;
    width: 300px;
    justify-content: center;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-right a {
    background-color: #252525;
}

.card h3 {
    font-size:18px;
}

.card img {
    width: 200px;
    height: 210px;
    margin-right: 20px
} 

.back, .next {
    position: absolute;
    width: 20px;
    z-index: 1;
    opacity: 0.8;
}

.button-toggle {
    display: none;
}

.next {
    margin-left: 300px;
}

.back {
    margin-right: 300px;
}

/* Index main */
.index-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    margin-bottom: 30px;
}



/* skew svg */

.skew-svg {
    position: absolute;
    height: 55px;
    width: 100%;
    z-index: -1;
    filter: drop-shadow(0px 3px 10px black);
}

/* blog list */

.posts {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.single-post {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 0 auto 60px auto;
    font-size: 16px;
}

.single-post > img {
    width: 50%;
    height: auto;
    margin-right: 20px;
    border: white solid 0.5px;
}

.single-post-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}

.read-more {
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 2px;
    background-color: #8C3A48;
}

/* blog specific */

.h1-mobile, .h1-specific {
    background-color: #8C3A48;
    position: relative;
    color: white;
    padding-left: 30px;
    z-index: 1;
}

.specific-post {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 30px; */
    margin: 60px auto 0 auto;
    width: 100%;
}

.specific-post p {
    margin-bottom: 30px;
}

.specific-post img {
    width: 100%;
    max-width: 300px;
}



/* contact */

#contact-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 60px;
}

#contact-form input, textarea {
    margin-bottom: 30px;
    color: black;
    font-size: 16px;
}

/* About us */

.about-main {
    margin: 60px auto;
}

.about-main p {
    margin-top: 30px;
}





/********** Tablet **********/
@media screen and (min-width: 760px) {

    /* diverse */
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }
    
    /* Dropdown menu */
    .links {
        justify-content: center;
    }

    /* Carousel */
    .container {
        width: 700px;
    }

    .card {
        margin: 0 25px;
    }

    .next {
        margin-left: 600px;
    }

    .back {
        margin-right: 600px;
    }

    /* index main */
    .index-welcome {
        height: 500px;
        width: 80%;
    }

    /* Bloglist */
    .single-post {
        margin: 0 auto 80px auto;
    }

    /* blog specific */
    .specific-post p {
        width: 80%;
        margin-top: 30px;
    }

    /* About us */
    .about-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 800px;
        margin-bottom: 30px;
    }

    .about-main p {
        width: 80%;
    }
}




/********** Laptop **********/
@media screen and (min-width: 1440px) {

    /* Dropdown menu */
    .menu-links, #burger {
        display: none;
    }

    .nav-desktop {
        display: flex;
        width: 80%;
        padding: 30px 0;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .nav-desktop a {
        font-size: 20px;
    }

    /* carousel */
    .carousel-bg {
        padding: 80px 0;
    }

    .container {
        width: 1400px;
    }

    .next {
        margin-left: 1300px;
    }

    .back {
        margin-right: 1300px;
    }
}




/********** Laptop **********/
@media screen and (min-width: 1700px) {

    .container {
        width: 1800px;
    }

    .card {
        margin: 0 50px;
    }

    .next {
        margin-left: 1700px;
    }

    .back {
        margin-right: 1700px;
    }
}