* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: white;
}

/* Mobile */

h1 {
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    position: relative;
    overflow: visible;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #8C3A48;
}

.nav-desktop {
    display: none;
}

/* Hero img */
.heroImg {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

/* Hero */
.heroImgBackground {
    background-color: #8C3A48;
    width: 100%;
    
}

.h1-mobile-index {
    color: white;
    margin: 0;
}

.heroImg h1 {
    margin: 0;
}

.heroImg h1, .heroImg h2 {
    
    position: absolute;
}

.heroImg img {
    margin: 0 auto;
    width: 100%;
}


/* Dropdown menu */
.menu-links {
    display: flex;
    position: absolute;
    background-color: #252525;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease;
}

.menu-links-active {
    transform: translateX(0%);
}

.active-site {
    border-bottom: #8C3A48 solid 4px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.links a {
    margin-top: 120px;
    font-size: 24px;
}

.cross {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 30px;
}

#burger {
    width: 25px;
    height: 25px;
    margin: 30px 0 30px 30px;
}

#search {
    width: 25px;
    height: 25px;
    margin: 30px 30px 30px 0;
}

header {
    background-color: #8C3A48;
    z-index: 2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.index-main {
    padding: 0;
}

.index-main h2 {
    margin-top: 30px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #8C3A48;
    padding: 30px;
}

footer p {
    font-size: 12px;
}

.social-links {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.social-links a {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.social-links img {
    margin-right: 10px;
    width: 18px;
}

.h1-mobile-index {
    margin: 60px 0 20px 0;
}

.index-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
    width: 80%;
    max-width: 1520px;
}

.index-welcome p {
    margin: 10px 0;
}

/* Carousel */

.carousel-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8C3A48;
    width: 100%;
}

.container {
    display: flex;
    background-color: #8C3A48;
    overflow: hidden;
    width: 280px;
    height: 260px;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
}

.card img {
    width: 160px;
}

.carousel {
    display: flex;
    width: 100%;
}

.card {
    display: flex;
    width: 280px;
    justify-content: center;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 16px;
}

.card-right a {
    background-color: #252525;
}

.card h3 {
    font-size:18px;
}

.card img {
    width: 200px;
    height: 210px;
    margin-right: 10px
} 

.back, .next {
    /* position: absolute; */
    width: 20px;
    z-index: 1;
    opacity: 0.8;
    margin: 0 10px;
}

.button-toggle {
    display: none;
}



/* skew svg */

.skew-svg {
    position: absolute;
    height: 55px;
    width: 100%;
    z-index: -1;
    filter: drop-shadow(0px 3px 10px black);
}

/* blog list */

.posts {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    /* flex-direction: column; */
    margin-top: 60px;
}

.single-post {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 0 auto 60px auto;
    font-size: 16px;
}

.single-post > img {
    width: 50%;
    height: auto;
    margin-right: 20px;
}

.single-post-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}

.read-more, .load-more, .submit-btn {
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    background-color: #8C3A48;
    font-size: 16px;
}

.load-more {
    margin-bottom: 30px;
}

/* blog specific */

.h1-specific {
    background-color: #8C3A48;
    color: white;
    padding-left: 30px;
    z-index: 1;
}

.specific-post {
    margin: 30px 0;
}

.specific-post p {
    margin: 30px auto ;
}

.modal-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin-top: 60px;
}

.modal-active {
    width: 90vw;
    max-width: 400px;
    margin-bottom: 60px;
}

.modal-img img {
    
    object-fit: cover;
    width: 100%;
}

/* contact */
#contact-form {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    margin-top: 60px;
    width: 100%;
    max-width: 500px;
}

#contact-form input, textarea {
    margin-bottom: 30px;
    color: black;
    font-size: 16px;
}

textarea {
    resize: none;
}

/* About us */
.about-main {
    margin: 60px auto;
}

.about-main p {
    margin-top: 30px;
}

/********** Tablet **********/
@media screen and (min-width: 760px) {

    /* diverse */
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    
    /* Dropdown menu */
    .links {
        justify-content: center;
    }

    /* Carousel */
    .container {
        width: 700px;
    }

    .card {
        margin: 0 35px;
    }


    /* index main */
    .index-welcome {
        height: 500px;
        width: 80%;
        max-width: 1520px;
    }

    /* Blog specific */
    .specific-post {
        width: 80%;
        max-width: 1480px;
    }

    /* About us */
    .about-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 800px;
        margin-bottom: 30px;
    }

    .about-main p {
        width: 80%;
    }
}




@media screen and (min-width: 1100px) {
    
    /* Dropdown menu */
    .menu-links, #burger {
        display: none;
    }

    .nav-desktop {
        display: flex;
        width: 80%;
        max-width: 1520px;
        padding: 30px 0;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        width: 200px;
    }

    .desk-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 80%;
    }

    .nav-desktop a {
        font-size: 18px;
        border-bottom: solid 4px transparent;
        margin: 0 30px;
    }

    .nav-desktop a:hover {
        border-bottom: solid 4px #252525;
    }

    .active-site {
        border-bottom: none;
        background-color: #252525;
        padding: 10px 10px 8px;
        border-radius: 2px;
    }

    .h1-specific {
        padding: 0;
        width: 80%;
        margin: 0 auto;
        
    }

    .heroImg {
        max-width: 1520px;
    }

    .heroImg img {
        margin: 0 auto;
        width: 60%;
    }

}


/********** Laptop **********/
@media screen and (min-width: 1440px) {

    main {
        padding: 0;
    }

    /* carousel */
    .carousel-bg {
        width: 100%;
        padding: 40px 0;
    }

    .container {
        width: 1400px;
    }

    /* blog list */
    .posts {
        margin: 60px 0;
        justify-content: space-between;
    }

    .single-post {
        margin-top: 30px;
    }

      
}




/********** desktop **********/
@media screen and (min-width: 1700px) {

    
}